/* Header background CSS */
#header {
    width: 100%;
    height: 60vh;
    /* background-image: url("./Images/package-bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #container {
    border: 10px solid black;
    border-radius: 20px;
    width: 85%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px;
    background-color: #349390;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    /* Set the background image separately */
    background-image: url("https://wallpapercave.com/wp/wp3598837.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  #container>div {
    border: 10px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
  }
  #container>div>button{
    border-radius: 3px;
    margin-top: 10px;
  }

  .imageClass{
    height: 160px;
    width: 330px;
    border-radius: 20px;
  }

  .bookNow{
    margin: 20px auto;
    width: 40%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: lawngreen;
    color: darkblue;
  }