* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-weight: bold;
  font-size: 16px;
} 
/* Overlay Section CSS */
.overlay{
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: -1 ;
  opacity: 0;
  transition: 1s;
}
.show-overlay{
  opacity: 1;
  z-index: 1;
}

/* Header background CSS */
#header {
  width: 100%;
  height: 60vh;
  background-image: url("https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar CSS Start*/
.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.navbar > img {
  margin-left: 30px;
  height: 40px;
  margin-top: 7px;
}
nav {
  width: 40%;
  margin-right: 70px;
  /* border: 2px solid green;  */
}
nav > ul {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

nav > ul ul {
  visibility: hidden;
  background-color: white;
  color: black;
  padding: 0px 5px;
  margin-top: 10px;
  z-index: 3;
  line-height: 40px;
}
nav > ul li:hover > ul {
  transition: 0.6s linear;
  visibility: visible;
}
nav > ul ul > li a {
  color: black;
}
a {
  color: white;
}
.sticky{
  position :fixed;
   top: 0px;
   width: 100%;
}

/* Header Search Section  Start*/
.header-search {
  text-align: center;
  color: white;
  margin-top: 70px;
  z-index: 1;
  font-size: 20px;
}
.header-search input {
  width: 48%;
  padding: 15px;
  margin-top: 20px;
  font-size: 15px;
  border: none;
  z-index: 1;
  color: #333333;
}
.header-search input:focus{
  outline: none;
  border-color: red;
}
.header-search > span {
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
}
.header-search i {
  color: #506066;
}

/* Small Card Section Start */
#small-cards {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
#small-cards > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
#small-cards > div > img {
  width: 100%;
}

/* Middel Section Start */

span>h1{
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

#middle-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#middle-container > div > img {
  width: 100%;
  border-radius: 10px;
}
#middle-container h3{
  color: #fe6733;
  margin-top: 5px;
  margin-bottom: 10px;
}
#middle-container p{
  font-size: 20px;
  color: #323233;
}

/* Slider CSS start */
.image-slider{
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.image-slider>img{
  width: 100%;
  border-radius: 10px;
}

#eight-cards , #book-now {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#eight-cards > div > img , #book-now  > div > img {
  width: 100%;
  border-radius: 10px;
}
#eight-cards p{
  margin-top: 5px;
  line-height: 30px;
  font-size: 20px;
}
#eight-cards h4{
  color: #309adb;
  margin-top: 15px;
}

/* Book Card Now start*/
#book-now{
  line-height: 25px;
  text-align: center;
  
}
#book-now button{
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
  color: #349390;
  border-color: #349390;
}

/* Footer Section Start */
#footer{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 0px;
  /* border: 2px solid red; */
}

#footer>div{
  line-height: 30px;
  color: #4a5a66;
  font-size: 15px;
}
#footer>div:nth-child(1){
  width: 300px;
}
#footer img{
  display: block;
}
#footer img:nth-child(9){
  margin-top: 20px;
  border-radius: 5px;
}
#footer>div img~h3{
  margin-top: 5px;
}

#footer i{
  font-size: 15px;
  margin-right: 5px;
}
#footer i:hover{
  color: #2e9adb;
}
span>p{
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
}
