/* Header background CSS */
#header {
  width: 100%;
  height: 60vh;
  /* background-image: url("./Images/package-bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

#tour-middle{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  line-height: 40px;
}
#tour-middle>p{
 font-size: 18px;
 font-weight: bolder;
}

.package-image{
  width: 90%;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.package-image img{
  width: 100%;
  border-radius: 10px;
}

.tripto-passage{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  line-height: 30px;
}
.tripto-passage h1{
  margin-bottom: 20px;
}

.tripto-passage p{
  font-weight: lighter;
  font-size: 18px;
}
.tripto-passage span{
  font-weight: bolder;
}

#package_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}