*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: #2e9adb;
    /* border: 2px solid red; */
  }
  .navbar > img {
    margin-left: 30px;
    height: 40px;
    margin-top: 7px;
  }

body{
    /* background:linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%); */
    font-family: sans-serif;
    /* background-color: #9dd3f5;
     */
     background-color: #2e9adb;
    overflow: auto;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius: 5px;
}
.popup{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    /* box-shadow: 2px 2px 5px 5px rgba(0,0,0,0,00.15); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 15px 0px;
}
.popup .form .form-element lable{
    font-size: 14px;
    color: #222;
}
.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #2e9adb;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 17px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

hr{
    height: 1px;
    background-color: #aaa;
    border: none;
}
#banner > img{
    width: 100%;
    border-radius: 5px;
}
#banner{
    margin: -9.4%;
    margin-bottom: 0%;
}s
#pop{width:10%;display: block;margin: auto;position: relative;background-color: #2e9adb;margin-top: 40%;padding: .2%;border-radius: 5px; color: white;text-align: center;display: none;}

#already{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 160px;
    height: 80px;
}